<mat-toolbar> TattooShop </mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Accueil</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/tatoueur">
          Tatoueurs
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    Bienvenue !
    <div [hidden]="!authenticated()">
      <p>Vous êtes connecté.e</p>
      <button mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        Se déconnecter
      </button>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
